<html>

<head>

</head>

<body>
  <h1>
    welcome to
    <%=title%>
  </h1>
  <p>This is the ejs template</p>
  <ul>
    <%for (let i=0; i<list.length; i++){%>
      <li>
        <%=list[i]%>
      </li>
      <%}%>
  </ul>
</body>

</html>